<!DOCTYPE html> <!-- Define o tipo do documento como HTML5 -->
<html lang="en"> <!-- Inicia o documento HTML e define o idioma como inglês -->
<head>
    <meta charset="UTF-8"> <!-- Define a codificação de caracteres como UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Configura a viewport para uma navegação responsiva em dispositivos móveis -->
    <title>Ampliando o Conhecimento</title> <!-- Define o título da página -->
    <link rel="stylesheet" href="template.css"> <!-- Link para o arquivo CSS externo -->
</head>
<body> <!-- Inicia o corpo do documento HTML -->
    <div id="header"> <!-- Define um contêiner com id "header" para o cabeçalho -->
        <h1>HTML II - Ampliando o Conhecimento</h1> <!-- Cabeçalho principal da página -->
    </div>

    <div id="menu"> <!-- Define um contêiner com id "menu" para o menu de navegação -->
        <a href="#form" target="_self">Aqui vai o assunto</a> <!-- Link para um trecho da mesma página -->
        <a href="../index/index.html"><< Voltar</a> <!-- Link para outra página no diretório pai -->
    </div>

    <div id="content"> <!-- Define uma seção de conteúdo com id "content" -->
        <h3 id="referencias"><strong>6. Referências</strong></h3> <!-- Cabeçalho para a seção de referências -->
        <a href="https://web.dio.me/track/formacao-html-web-developer" target="_blank">Formação HTML Web Developer</a> <!-- Link para um recurso externo -->
        <br> <!-- Quebra de linha -->
        <br> <!-- Quebra de linha -->
        <br> <!-- Quebra de linha -->
        <br> <!-- Quebra de linha -->
    </div>

    <div id="footer"> <!-- Define um contêiner com id "footer" para o rodapé -->
        <a href="https://github.com/paulaalessandrars" target="_blank">⌨️ com 💗☕ por Paula Alessandra</a> <!-- Link para um perfil no GitHub -->
    </div>
</body>
</html> <!-- Finaliza o documento HTML -->
